<div class="main posts-index">
    <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
        
          <%= link_to(post.content, "/posts/#{post.id}") %>
          
          <div class="post-time">
            <%= post.created_at %>
          </div>
          <% if Like.find_by(user_id: @current_user.id, post_id: post.id ) %>
          <span class="fa fa-heart like-btn-unlike"></span>
          <% else %>
          <span class="fa fa-heart like-btn"></span>
          <% end %>
          
          <%= post.likes.count%>
          コメント(<%= post.comments.count %>)

        </div>
        </div>
     <% end %>
    </div>
</div>